.playlist {
  padding: 30px; }

@media (min-width: 768px) {
  .playlist {
    max-width: 80%;
    display: inline-block; } }

.playlist__item {
  cursor: pointer;
  padding: 10px 5px;
  font-size: 18px;
  text-align: left;
  border-bottom: 1px solid #e5f0ff;
  transition: all .2s ease-out; }

.playlist__item.active {
  background-color: #c8dfff; }

.playlist__item:hover {
  background-color: #e5f0ff; }

.playlist__item__name {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.8;
  padding: 0 20px;
  max-width: 70%;
  padding-left: 20px;
  overflow-x: hidden;
  white-space: nowrap; }

.playlist__item__play {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px; }

.playlist__item__play .icon-play {
  vertical-align: middle;
  width: 32px; }

.playlist__item__play:hover .icon-play {
  fill: #2462b6; }

.playlist__item__intensity {
  user-select: none;
  min-width: 70px;
  text-align: center; }

.playlist__item__left {
  padding-left: 10px;
  display: inline-block;
  vertical-align: middle;
  max-width: 20%; }
