.controls {
  display: inline-block;
  width: 30%;
  padding: 50px;
  box-sizing: border-box;
  vertical-align: top; }

.controls__button {
  box-sizing: border-box;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  display: inline-block;
  width: 80px;
  height: 80px;
  padding: 12px;
  margin-right: 20px;
  border: 3px solid black;
  border-radius: 100%;
  transition: all .1s ease-out; }

.controls__button.active {
  transform: scale(0.9);
  border-color: #2462b6; }

.controls__button.active svg {
  fill: #2462b6; }

.icon-play {
  width: 50px;
  margin-left: 6px;
  transition: all .1s ease-out; }
