.player {
  text-align: left;
  justify-content: center;
  display: block; }
  @media (min-width: 768px) {
    .player {
      display: flex; } }

.controls {
  position: sticky;
  top: 0;
  white-space: nowrap;
  background-color: #fff;
  display: inline-block;
  padding: 40px 30px;
  box-sizing: border-box;
  vertical-align: top;
  text-align: left; }
  @media (max-width: 767px) {
    .controls {
      width: 100%; } }
  @media (min-width: 768px) {
    .controls {
      width: initial;
      max-width: 170px; } }
  .controls__volume {
    vertical-align: middle;
    display: inline-block; }
    .controls__volume #volume {
      height: 120px; }
      @media (min-width: 768px) {
        .controls__volume #volume {
          height: 185px; } }
  .controls__buttons {
    width: 90%;
    vertical-align: middle;
    display: inline-flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 0 0 25px; }
    @media (min-width: 768px) {
      .controls__buttons {
        width: initial;
        flex-direction: column; } }
  .controls__button {
    box-sizing: border-box;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    max-width: 80px;
    margin-left: 4%;
    transition: all .1s ease-out; }
    @media (min-width: 768px) {
      .controls__button {
        max-width: 60px;
        margin-bottom: 15px; } }
    .controls__button svg {
      width: 90%; }
    .controls__button.active {
      transform: scale(0.9);
      border-color: #2462b6; }
      .controls__button.active svg {
        fill: #2462b6; }

.icon-play {
  margin-left: 6px;
  transition: all .1s ease-out; }
