.controls {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #fff;
  display: inline-block;
  padding: 40px 30px;
  box-sizing: border-box;
  vertical-align: top;
  text-align: left; }

.controls__volume {
  vertical-align: middle;
  display: inline-block; }

.controls__volume #volume {
  height: 150px; }

.controls__buttons {
  width: 90%;
  vertical-align: middle;
  display: inline-flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 0 0 25px; }

.controls__button {
  box-sizing: border-box;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  display: inline-block;
  max-width: 80px;
  margin-left: 4%;
  transition: all .1s ease-out; }

.controls__button svg {
  width: 90%; }

.controls__button.active {
  transform: scale(0.9);
  border-color: #2462b6; }

.controls__button.active svg {
  fill: #2462b6; }

.icon-play {
  margin-left: 6px;
  transition: all .1s ease-out; }
