@import '../../utils/mixins.scss';
$button-active: #2462b6;

.player {
  text-align: left;
  justify-content: flex-start;
  display: block;
  @include breakpoint(sm) {
    display: flex;
  }
}

.controls {
  position: sticky;
  top:0;
  white-space: nowrap;
  //width:100%;
  background-color: #fff;
  display: inline-block;
  padding: 40px 30px;
  box-sizing: border-box;
  vertical-align: top;
  text-align: left;
  @include breakpoint(xs) {
    width:100%;
  }
  @include breakpoint(sm) {
    width:initial;
  }
  &__volume {
    vertical-align: middle;
    display: inline-block;
    #volume {
      height:120px;
      @include breakpoint(sm) {
        height:185px;
      }
    }
  }
  &__buttons {
    width: 90%;
    vertical-align: middle;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 0 0 25px;
    @include breakpoint(sm) {
      vertical-align: top;
      width:initial;
      flex-direction: row;
      align-items: flex-start
    }
  }
  &__button {
    box-sizing: border-box;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    max-width: 50px;  
    margin-left: 4%;
    flex-basis: 50%;
    transition: all .1s ease-out;
    @include breakpoint(sm) {
      max-width: 50px;
      margin-bottom: 15px;
    }
    svg {
      width: 90%;
    }
    &.active {
      transform: scale(0.9);
      border-color: $button-active;
      svg {
        fill: $button-active;
      }
    }
  }
}

.icon-play {
  margin-left: 3px;
  transition: all .1s ease-out;
}
