@import '../../utils/mixins.scss';
$button-active: #2462b6;

.controls {
  position: sticky;
  top:0;
  width:100%;
  background-color: #fff;
  display: inline-block;
  padding: 40px 30px;
  box-sizing: border-box;
  vertical-align: top;
  text-align: left;
  &__volume {
    vertical-align: middle;
    display: inline-block;
    #volume {
      height:150px;
    }
  }
  &__buttons {
    width: 90%;
    vertical-align: middle;
    display: inline-flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 0 0 25px;
  }
  &__button {
    box-sizing: border-box;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    //width: 25%; 
    max-width: 80px;  
    margin-left: 4%;
    transition: all .1s ease-out;
    svg {
      width: 90%;
    }
    &.active {
      transform: scale(0.9);
      border-color: $button-active;
      svg {
        fill: $button-active;
      }
    }
  }
}

.icon-play {

  margin-left: 6px;
  transition: all .1s ease-out;
}
